
/* AnjaliOldLipi */

@font-face {
	font-family: "AnjaliOldLipi";
	src: url("AnjaliOldLipi/AnjaliOldLipi.woff2") format("woff2"),
		url("AnjaliOldLipi/AnjaliOldLipi.woff") format("woff"),
		url("AnjaliOldLipi/AnjaliOldLipi.ttf") format("truetype"),
		url("AnjaliOldLipi/AnjaliOldLipi.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-200D, U+25CC;
}
