
/* Manjari */

@font-face {
	font-family: "Manjari";
	src: url("Manjari/Manjari-Regular.woff2") format("woff2"),
		url("Manjari/Manjari-Regular.woff") format("woff"),
		url("Manjari/Manjari-Regular.ttf") format("truetype"),
		url("Manjari/Manjari-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-200D, U+25CC;
}

/* Manjari Thin */

@font-face {
	font-family: "Manjari";
	src: url("Manjari/Manjari-Thin.woff2") format("woff2"),
		url("Manjari/Manjari-Thin.woff") format("woff"),
		url("Manjari/Manjari-Thin.ttf") format("truetype"),
		url("Manjari/Manjari-Thin.otf") format("opentype");
	font-weight: 100;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-200D, U+25CC;
}

/* Manjari Bold */

@font-face {
	font-family: "Manjari";
	src: url("Manjari/Manjari-Bold.woff2") format("woff2"),
		url("Manjari/Manjari-Bold.woff") format("woff"),
		url("Manjari/Manjari-Bold.ttf") format("truetype"),
		url("Manjari/Manjari-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-200D, U+25CC;
}
