
/* Meera */

@font-face {
	font-family: "Meera";
	src: url("Meera/Meera.woff2") format("woff2"),
		url("Meera/Meera.woff") format("woff"),
		url("Meera/Meera.ttf") format("truetype"),
		url("Meera/Meera.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-200D, U+25CC;
}
