
/* Rachana */

@font-face {
	font-family: "Rachana";
	src: url("Rachana/Rachana-Regular.woff2") format("woff2"),
		url("Rachana/Rachana-Regular.woff") format("woff"),
		url("Rachana/Rachana-Regular.ttf") format("truetype"),
		url("Rachana/Rachana-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-200D, U+25CC;
}

/* Rachana Bold */

@font-face {
	font-family: "Rachana";
	src: url("Rachana/Rachana-Bold.woff2") format("woff2"),
		url("Rachana/Rachana-Bold.woff") format("woff"),
		url("Rachana/Rachana-Bold.ttf") format("truetype"),
		url("Rachana/Rachana-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-200D, U+25CC;
}
