
/* Suruma */

@font-face {
	font-family: "Suruma";
	src: url("Suruma/Suruma.woff2") format("woff2"),
		url("Suruma/Suruma.woff") format("woff"),
		url("Suruma/Suruma.ttf") format("truetype"),
		url("Suruma/Suruma.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	unicode-range: U+0D01-0D7F, U+200C-200D, U+25CC;
}
