
/* Uroob */

@font-face {
	font-family: "Uroob";
	src: url("Uroob/Uroob.woff2") format("woff2"),
		url("Uroob/Uroob.woff") format("woff"),
		url("Uroob/Uroob.ttf") format("truetype"),
		url("Uroob/Uroob.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-200D, U+25CC;
}
