/* common styles */
body {
  font-family : 'Roboto', sans-serif;
}

h1 {
  font-size : 28px;
  padding   : 10px 10px 0;
  position  : relative;
}

h1 > span {
  border-bottom : 1px dotted #090b74;
}

#switcher-container {
  position : relative;
  display  : inline-block;
  z-index  : 100;
}

#open-switcher {
  position         : relative;
  font-size        : 18px;
  padding          : 5px 20px;
  border           : 1px solid #000;
  background-color : #eee;
  cursor           : pointer;
}

#open-switcher:hover, #close-switcher:hover, .switcher-font:hover, .tab-head:hover {
  border           : 1px dotted #f90;
  background-color : #ddd;
}

#bookmarklet {
  font-size : 16px;
  position  : relative;
  display   : inline-block;
  color     : #333;
}

#bookmarklet a {
  font-size        : 16px;
  display          : inline-block;
  background-color : #eee;
  border           : 1px solid #000;
  padding          : 5px 10px;
}

.github {
  display : inline-block;
  float   : right;
}

.github a {
  color : #555;
}

.page {
  position : relative;
  border   : 1px solid #cccccc;
  margin   : 10px;
  padding  : 10px;
  overflow : hidden;
}

#switcher {
  font-size        : 16px;
  margin           : 5px 0;
  padding          : 5px;
  border           : 1px solid #999999;
  background-color : #fff;
  display          : none;
  position         : absolute;
}

#close-switcher {
  font-size        : smaller;
  display          : inline-block;
  position         : absolute;
  top              : 3px;
  right            : 3px;
  padding          : 5px 8px;
  border           : 1px solid #000;
  background-color : #eee;
  cursor           : pointer;
}

.switcher-font {
  padding     : 5px;
  border      : 1px dotted #666;
  margin      : 5px;
  white-space : nowrap;
  cursor      : pointer;
}

.switcher-font.active {
  border           : 1px solid #00f;
  background-color : #eee;
}

h2 {
  background    : #262cff;
  color         : #ffff09;
  font-size     : 32px;
  margin        : 0 0 15px;
  padding       : 10px;
  border-radius : 8px;
  position      : relative;
}

.en, .ml {
  display : none;
}

.tab-container {
  border-top    : none;
  margin        : 0 0 10px;
  border-radius : 4px;
}

.tab-head-container {
  display         : flex;
  flex-direction  : row;
  justify-content : center;
  align-items     : stretch;
}

.tab-head {
  font-size        : 22px;
  flex             : 0.5;
  display          : inline-flex;
  padding          : 10px;
  border           : 1px solid #999;
  background-color : #eee;
  color            : #555555;
  cursor           : pointer;
  text-decoration  : underline;
}

.tab-head.active {
  border-bottom         : none;
  border-top            : 1px dotted #999;
  border-right          : 1px dotted #999;
  border-left           : 1px dotted #999;
  text-decoration-color : black;
  text-decoration       : solid;
  text-decoration-line  : underline;
  background-color      : #fff;
  cursor                : default;
}

.tab-head:hover, .tab-head.active:hover {
  border-bottom-color : transparent;
}

.font-container {
  overflow-x  : auto;
  overflow-y  : hidden;
  line-height : 1.3;
  white-space : nowrap;
  padding     : 5px 10px;
  border      : 1px dotted #999;
  border-top  : none;
}

h3 {
  background              : #c1e0c1;
  font-size               : 24px;
  color                   : #090b74;
  padding                 : 10px;
  border-top-left-radius  : 10px;
  border-top-right-radius : 10px;
}

.letters {
  font-size     : 25px;
  margin-bottom : 20px;
}

.s10:before {
  content : '10px';
}

.s11:before {
  content : '11px';
}

.s12:before {
  content : '12px';
}

.s14:before {
  content : '14px';
}

.s18:before {
  content : '18px';
}

.s24:before {
  content : '24px';
}

.s30:before {
  content : '30px';
}

.s36:before {
  content : '36px';
}

.s48:before {
  content : '48px';
}

.s60:before {
  content : '60px';
}

.s72:before {
  content : '72px';
}

.s10:before, .s11:before, .s12:before, .s14:before,
.s18:before, .s24:before, .s30:before, .s36:before,
.s48:before, .s60:before, .s72:before {
  font-family   : Arial, sans-serif;
  font-size     : 10px;
  font-weight   : normal;
  font-style    : normal;
  color         : #999;
  padding-right : 6px;
}

pre {
  display                    : block;
  position                   : relative;
  padding                    : 9px;
  margin                     : 0 0 10px;
  font-family                : Monaco, Menlo, Consolas, "Courier New", monospace !important;
  font-size                  : 13px;
  line-height                : 1.428571429;
  color                      : #333;
  font-weight                : normal !important;
  font-style                 : normal !important;
  background-color           : #f5f5f5;
  border                     : 1px solid #ccc;
  overflow-x                 : auto;
  border-bottom-left-radius  : 4px;
  border-bottom-right-radius : 4px;
}

a {
  text-decoration : none;
}

a:hover {
  text-decoration : underline;
}

